<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JS</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <style>
    .boxin{
      border-style: dashed;
      width: 50%;
      background-color: rgb(117, 117, 104);
    }
    .btn{
      margin: 5px;
    }
  </style>
  <body>
    <header>
      <h1>Booking Appoinment</h1>
    </header>

    <section class="container">
      <form id="my-form" method="POST" action="">
        <h1>Add User</h1>
        <div class="msg" id ="msg"></div>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email">
        </div>
        <input type="submit" value="Submit">
      </form>
      <ul id="lStrorage">

      </ul>

     

      <!-- --- -->

      <% if (user.length > 0) { %>
        <ul>
            <% user.forEach(u => { %>
                <li class="boxin">
                    <h1><%= u.name%>    <%= u.email%>
                      <form action="/delete/<%= u.id %>" method="POST">
                        <input type="hidden" value="<%= u.id %>" name="userId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
          <% }) %>
        </ul>
        <% } %>  

      <!-- --- -->


     
       
    </section>
    
  </body>
</html>